{% load staticfiles %} 
{%extends "newbase.html" %}
{% block title%}第六步{% endblock %} {% block content %}
<div class="container">
	<div class="row">
		<div class="span4">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#hadoop" data-toggle="tab">hadoop</a></li>
					<li class=""><a href="#hbase" data-toggle="tab">hbase</a></li>
					<li class=""><a href="#hive" data-toggle="tab">hive</a></li>
					<li class=""><a href="#spark" data-toggle="tab">spark</a></li>
				</ul>
				<div class="tab-content">
				
					<div class="tab-pane active" id="hadoop">
						<form action="" method="post">
						{% csrf_token %}
							<div class="container-fluid">
								<div class="accordion" id="accordion2">
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="active" data-toggle="collapse"
												data-parent="#accordion2" href="#core-site">core-site </a> <a
												data-toggle="collapse" data-toggle="collapse"
												data-parent="#accordion" href="#hdfs-site"> hdfs-site </a> <a
												data-toggle="collapse" data-toggle="collapse"
												data-parent="#accordion" href="#collapseOne"> yarn-site</a>
											<a data-toggle="collapse" data-toggle="collapse"
												data-parent="#accordion" href="#mapred-site ">mapred-site
											</a>
										</div>
										<div id="core-site" class="accordion-body collapse"
											style="height: 0px;">
											<div class="accordion-inner">
												{% for field in form.coreForm %}
												<div class="field">
													<label for="input1" class="col-md-4 control-label"
														style="float: left;">{{ field.label_tag }}</label> {% if field.errors %}
													<div class="alert alert-error">{{field.errors }}</div>
													{% endif %} {{ field }}
												</div>
												{% endfor %}
											</div>
										</div>
										<div yarn-siteid="hdfs-site"
											class="panel-collapse collapse in">
											<div class="panel-body">

												{% for field in form.hdfsForm %}
												<div class="field">
													<label for="input1" class="col-md-4 control-label"
														style="float: left;">{{ field.label_tag }}</label> {% if field.errors %}
													<div class="alert alert-error">{{field.errors }}</div>
													{% endif %} {{ field }}
												</div>
												{% endfor %}
											</div>
										</div>

										<div yarn-siteid="yarn-site"
											class="panel-collapse collapse in">
											<div class="panel-body">

												{% for field in form.yarnForm %}
												<div class="field">
													<label for="input1" class="col-md-4 control-label"
														style="float: left;">{{ field.label_tag }}</label> {% if field.errors %}
													<div class="alert alert-error">{{field.errors }}</div>
													{% endif %} {{ field }}
												</div>
												{% endfor %}
											</div>
										</div>

										<div yarn-siteid="mapred-site"
											class="panel-collapse collapse in">
											<div class="panel-body">
												{% for field in form.mapredForm %}
												<div class="field">
													<label for="input1" class="col-md-4 control-label"
														style="float: left;">{{ field.label_tag }}</label> {% if field.errors %}
													<div class="alert alert-error">{{field.errors }}</div>
													{% endif %} {{ field }}
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div style="float: right; margin-right: 100px;">
								<button type="submit" class="btn btn-success btn-sm ">下一步</button>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="hbase">
						<p>You are watching Section 2.</p>
					</div>
					<div class="tab-pane" id="hive">
						<p>You are watching Section 3.</p>
					</div>
					<div class="tab-pane" id="spark">
						<p>You are watching Section 3.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}
