{%extends "newbase.html" %} {% load staticfiles %} 
{% block title%}第六步{% endblock %} {% block content %}
<div id="Service" class="thumnail">
	<form action="" method="post">
		<h5 style="margin: 15px;">
			<strong> 参数设置</strong>
		</h5>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-toggle="collapse"
							data-parent="#accordion" href="#collapseOne"> hbase-site </a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">

						{% csrf_token %}
						{% for field in form %}
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">{{ field.label_tag }}</label> 
								{% if field.errors %}
							<div class="alert alert-error">{{field.errors }}</div>
							{% endif %} {{ field }}
						</div>
						{% endfor %}
<!--  
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">hbase.rootdir</label> {% if
							form.rootdir.errors %}
							<div class="alert alert-error">{{ form.rootdir.errors }}</div>
							{% endif %} {{ form.rootdir }}
						</div>
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">hbase.master</label> {% if
							form.master.errors %}
							<div class="alert alert-error">{{ form.master.errors }}</div>
							{% endif %} {{ form.master }}
						</div>
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">hbase.zookeeper.quorum</label> {% if
							form.zookeeper_quorum.errors %}
							<div class="alert alert-error">{{
								form.zookeeper_quorum.errors }}</div>
							{% endif %} {{ form.zookeeper_quorum }}
						</div>
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">hbase.tmp.dir</label> {% if
							form.tmpdir.errors %}
							<div class="alert alert-error">{{ form.tmpdir.errors }}</div>
							{% endif %} {{ form.tmpdir }}
						</div>
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">hbase.master.port</label> {% if
							form.mport.errors %}
							<div class="alert alert-error">{{ form.mport.errors }}</div>
							{% endif %} {{ form.mport }}
						</div>
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">hbase.regionserver.port</label> {% if
							form.rport.errors %}
							<div class="alert alert-error">{{ form.rport.errors }}</div>
							{% endif %} {{ form.rport }}
						</div>
						<div class="field">
							<label for="input1" class="col-md-4 control-label"
								style="float: left;">hbase.master.info.port</label> {% if
							form.miport.errors %}
							<div class="alert alert-error">{{ form.miport.errors }}</div>
							{% endif %} {{ form.miport }}
						</div>
-->
					</div>
				</div>
				<div style="float: right; margin-right: 100px;">
					<button type="submit" class="btn btn-success btn-sm ">下一步</button>
				</div>
	</form>
</div>
</div>
</div>
</body>
{% endblock %}


