{%extends "newbase.html" %} {% load staticfiles %} 
{% block title %}主机分配{% endblock %} {% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
{% endblock %}
<style type="text/css">
form {
	margin: 10px;
}

.thumnail {
	min-height: 700px;
	display: block;
	padding: 10px;
	width: 800px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.STYLE1 {
	color: #FFFFFF
}
</style>


{% block content %}
<div class="thumnail"
	style="min-height: 300px; margin: 20px auto; border: 1px solid rgb(221, 221, 221);">
	<h3 style="margin: 10px;">
		<strong>主机分配</strong>
	</h3>
	<div class="well well-sm"
		style="background-color: rgb(230, 241, 245); width: 100%;">
		Assign master components to hosts you want to run them on</br>
		Hiveserver2,Hive Metastore,and WebHCat Server will be co-hosted on the
		same server.
	</div>
	<form method="post" action="">
		{% csrf_token %}
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="45%"><table width="100%" border="0" cellspacing="1"
						cellpadding="10">
						{% for field in form %}
						
						<tr>
							<td><label for="choose1">
									<div align="right">{{ field.label_tag }}</div>
							</label></td>
							<td>{% if field.errors %}
								<div class="alert alert-error">
								{{ field.errors }}</div> {% endif %} 
									{{ field}}
							</td>
						</tr>
						{% endfor %}
						<!--  
							<td><label for="choose1">
									<div align="right">NameNode:</div>
							</label></td>
							<td>{% if form.namenode.errors %}
								<div class="alert alert-error">{{ form.namenode.errors }}
								</div> {% endif %} {{ form.namenode }}
							</td>
						</tr>

						<tr>
							<td><label for="choose1">
									<div align="right">resourmanager:</div>
							</label></td>
							<td>{% if form.resourmanager.errors %}
								<div class="alert alert-error">{{
									form.resourmanager.errors }}</div> {% endif %} 
									{{ form.resourmanager}}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">hbasemaster:</div>
							</label></td>
							<td>{% if form.hbasemaster.errors %}
								<div class="alert alert-error">{{ form.hbasemaster.errors
									}}</div> {% endif %} {{ form.hbasemaster }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">sparkmaster :</div>
							</label></td>
							<td>{% if form.sparkmaster.errors %}
								<div class="alert alert-error">{{ form.sparkmaster.errors
									}}</div> {% endif %} {{ form.sparkmaster }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">Ganglia Collector :</div>
							</label></td>
							<td>{% if form.gmated.errors %}
								<div class="alert alert-error">{{ form.gmated.errors }}</div> 
								{% endif %} {{ form.gmated }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">HiveServer2:</div>
							</label></td>
							<td>{% if form.resourmanager.errors %}
								<div class="alert alert-error">{{ form.java_home.errors }}
								</div> {% endif %} {{ form.resourmanager }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">Hive Metastore :</div>
							</label></td>
							<td>{% if form.hive.errors %}
								<div class="alert alert-error">{{ form.hive.errors }}</div> 
								{% endif %} {{ form.hive }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">pig :</div>
							</label></td>
							<td>{% if form.pig.errors %}
								<div class="alert alert-error">{{ form.pig.errors }}</div> 
								{% endif %} {{ form.pig }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">phenix:</div>
							</label></td>
							<td>{% if form.phenix.errors %}
								<div class="alert alert-error">{{ form.phenix.errors }}</div> 
								{% endif %} {{ form.phenix }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">ZooKeeper:</div>
							</label></td>
							<td>{% if form.zookeeper1.errors %}
								<div class="alert alert-error">{{ form.zookeeper1.errors}}</div> 
								{% endif %} {{ form.zookeeper1 }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">ZooKeeper:</div>
							</label></td>
							<td>{% if form.zookeeper2.errors %}
								<div class="alert alert-error">{{ form.zookeeper2.errors}}</div> 
								{% endif %} {{ form.zookeeper2 }}
							</td>
						</tr>
						<tr>
							<td><label for="choose1">
									<div align="right">ZooKeeper:</div>
							</label></td>
							<td>{% if form.zookeeper3.errors %}
								<div class="alert alert-error">{{ form.zookeeper3.errors}}</div> 
								{% endif %} {{ form.zookeeper3 }}
							</td>
						</tr>
						-->
					</table></td>

				<td width="10%"><table width="100%" border="0" cellspacing="1"
						cellpadding="0"></table></td>
				<td width="45%"><table width="100%" height="559" border="0"
						cellpadding="0" cellspacing="1">
						{% for host in hosts %}
						<tr>
							<td align="center"><div class="well well-sm"
									style="background-color: #CCFFFF; width: 90%;" align="left"
									id="{{ host }}"></div></td>
						</tr>
						{% endfor%}
					</table></td>
			</tr>
		</table>
		<br />
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="45%">&nbsp;</td>
				<td width="10%">&nbsp;</td>
				<td width="45%" align="center"><div class="well well-sm"
						style="background-color: #FFFFCC; width: 90%; color: #5EBD48"
						align="left" id="HostUse"></div></td>
			</tr>
		</table>

		<br />
		<br />
		<div style="float: left;">
			<button type="button" class="btn btn-info btn-sm "
				onclick="javascript:history.go(-1);tt(this.style.display='none')">←
				Back</button>
		</div>
		<div style="float: right;">
			<button type="submit" class="btn btn-success btn-sm ">Next →</button>
		</div>

		<br />
		<br />
	</form>
</div>
<!--<div class="thumnail" style="width:750px; min-height:200px; margin:30px auto; border:1px solid rgb(221,221,221);"></div>-->
</body>
<script>

{% for host in hosts %}
    var {{host}}{{host}} = "", {{host}} = 0;
{% endfor %}

				var useHostNum = 0; // 使用的host数
				var unuseHostNum = 0; // 使用的host数

function onload()
{
				update();
}

function init()
{
				document.getElementById("NameNode").value = "0";
				document.getElementById("SNameNode").value = "0";
				document.getElementById("JobTracker").value = "0";
				document.getElementById("NagiosServer").value = "8";
				document.getElementById("GangliaCollector").value = "8";
				document.getElementById("HiveServer2").value = "2";
				document.getElementById("HBaseMaster").value = "1";
				document.getElementById("ZooKeeper1").value = "5";
				document.getElementById("ZooKeeper2").value = "6";
				document.getElementById("ZooKeeper3").value = "7";
}
				
function normStyle( style, count ) // 规范显示格式
{
				if( count > 0 && count % 3 == 0 )
				{
								style += "<br/><br/>";
				}
				return style;
}

function updateById( id, style )
{
				switch( document.getElementById(id).value )
				{
				{% for host in hosts %}
				case "{{host}}":
				      {{host}}{{host}} = normStyle({{host}}{{host}},{{host}});
				      {{host}}{{host}} += style;
				      {{host}}++;
				      break;
			    {% endfor %}		
				}
}

function update()
{
	{% for host in hosts %}
    {{host}}{{host}} = "", {{host}} = 0;
    {% endfor %}
	unuseHostNum = 0;
	useHostNum = 0;
	var style ="";
	{% for server in serverSet %}
	style = "<a class=\"well well-sm STYLE1\" style='background-color:#5ebd48;width:100px;' align='left'>{{server}}</a> ";
	updateById( "id_{{server}}", style );
    {% endfor %}
    {% for host in hosts %}
    document.getElementById("{{host}}").innerHTML = "<p><strong>{{host}}</strong></p><div align='left'>" + {{host}}{{host}} + "</div>";
    {% endfor %}

}
</script>
{% endblock %}
