{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/media/images/favicon.ico" />
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

		<title>Hosts</title>
		<style type="text/css" title="currentStyle">
			@import "{% static 'css/demo_page.css' %}";
			@import "{% static 'css/demo_table.css' %}";
			@import "{% static 'css/demo_table_jui.css' %}";
		</style>
	</head>
	<body id="dt_example" style="width:90%; margin-left:5%">
		<div id="container">
			<h1 align="right">
				<input type="button" class="btn btn-success" value="  + Add New Hosts  " onClick="addNewHosts()" style="background-color:#000000; color:#FFFFFF; border:#000000; font-size:large">
			</h1>
			<div id="demo">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>Name</th>
			<th>IP Address</th>
			<th>CPU</th>
			<th>RAM</th>
			<th>Disk Usage</th>
			<th>Load Avg</th>
			<th>Components</th>
		</tr>
	</thead>
	<tbody>
	
	{% for host in hosts%}
		<tr >
			<td class="center">{{host.hostname}}</td>
			<td class="center">{{host.ip}}</td>
			<td class="center">{{host.CPU}}</td>
			<td class="center">{{host.mem}}</td>
			<td class="center">{{host.disk}}</td>
			<td class="center">0.00</td>
			<td class="center">GM</td>
		</tr>
	{%endfor%}
		
	</tbody>
	<tfoot>
	</tfoot>
</table>
			</div>
	</div>
	</body>
	<script>
	function addNewHosts()
	{
		alert("此函数还未完成！");
	}
	</script>
	<script type="text/javascript" language="javascript" charset="utf-8">
        $(document).ready(function() {
            $("#example").dataTable({
//                "bPaginate": true, //开关，是否显示分页器
//                "bInfo": true, //开关，是否显示表格的一些信息
//                "bFilter": true, //开关，是否启用客户端过滤器
//                "sDom": "<>lfrtip<>",
//                "bAutoWith": false,
//                "bDeferRender": false,
//                "bJQueryUI": false, //开关，是否启用JQueryUI风格
//                "bLengthChange": true, //开关，是否显示每页大小的下拉框
//                "bProcessing": true,
//                "bScrollInfinite": false,
//                "sScrollY": "800px", //是否开启垂直滚动，以及指定滚动区域大小,可设值：'disabled','2000px'
//                "bSort": true, //开关，是否启用各列具有按列排序的功能
//                "bSortClasses": true,
//                "bStateSave": false, //开关，是否打开客户端状态记录功能。这个数据是记录在cookies中的，			打开了这个记录后，即使刷新一次页面，或重新打开浏览器，之前的状态都是保存下来的-			------当值为true时aoColumnDefs不能隐藏列
//                "sScrollX": "50%", //是否开启水平滚动，以及指定滚动区域大小,可设值：'disabled','2000%'
//                "aaSorting": [[0, "asc"]],
//                "aoColumnDefs": [{ "bVisible": false, "aTargets": [0]}]//隐藏列
//                "sDom": '<"H"if>t<"F"if>',
                "bAutoWidth": false, //是否自动计算表格各列宽度
                "aaSorting": [[1, "asc"]],
                "sPaginationType": "full_numbers"
 /*               "oLanguage": {
                    "sProcessing": "正在加载中......",
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "对不起，查询不到相关数据！",
                    "sEmptyTable": "表中无数据存在！",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                    "sSearch": "搜索",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上一页",
                        "sNext": "下一页",
                        "sLast": "末页"
                    }
                } //多语言配置*/
 
            });
        });
    </script>
</html>